/*body{
	background-color: lightpink;
}

p{
	color:green ;
}
h5{
	color: yellow;
}
h3{
	color: yellow;
}
h1{
	background-color: #ff000000;
}
div	{
	color: #red;
	background-color: #ff000000;
}
.secdiv2{
	background-color: #ffff00;
}

body {
			background-image: url("bk.jpeg");
			background-repeat: no-repeat;
			background-position: top;
		}
		
		h2{
			background-image: url('htulogo.png');
			background-repeat: 
		}
		*/
		